/*primary text colors */
$very-dark-desaturated-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);

/* neutral text colors */
$very-dark-grayish-blue: hsl(237, 12%, 33%);
$dark-grayish-blue: hsl(240, 6%, 50%);

/* background gradient */
$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);

/* divider */
$light-grayish-blue: hsl(240, 5%, 91%);

/* body copy */
$body-font-size: 12px;

/* font */
$font-family-kumbh-sans: 'Kumbh Sans', sans-serif;