@use './config';

body {
    min-height: 100vh;
    background: linear-gradient(config.$soft-violet, config.$soft-blue);
    font-size: config.$body-font-size;
}

main {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    min-width: 1000px;
    min-height: 500px;
    background-color: white;
    display: flex;
    border-radius: 1rem;

    & > * {
        flex: 0 0 50%;
    }
}

.image-container {
    position: relative;
    
    &__online-desktop {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
    }
}

#img-woman-online-desktop {    
    position: absolute;
    left: -5.2rem;
    top: 4.7rem;
}

#img-bg-pattern {
    position: absolute;
    
    top: -18.5rem;
    left: -36rem;
}

#img-box {
    position: absolute;
    left: -5.7rem;
    top: 13rem;
}

.faq {
    font-family: config.$font-family-kumbh-sans;
    display: flex;
    flex-direction: column;
    padding-top: 2.5rem;

    & > h1 {
        font-size: 2rem;
    }

    & > ul {
        list-style-type: none;
        padding-inline-start: 0rem;
    }
}