@use './config';

body {
  min-height: 100vh;
  background: linear-gradient(config.$soft-violet, config.$soft-blue);
  font-size: config.$body-font-size;
}

main {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  
  min-width: 960px;
  min-height: 480px;
  background-color: white;
  display: flex;
  border-radius: 1rem;
  box-shadow: 0 2rem 3rem rgb(0,0,0,0.2);

  & > * {
    flex: 0 0 50%;
  }
}

.image-container {
  position: relative;

  &__online-desktop {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  &__online-mobile {
    display: none;
  }
}

#img-woman-online-desktop {
  position: absolute;
  left: -5.2rem;
  top: 4.7rem;
}

#img-bg-pattern-desktop {
  position: absolute;

  top: -18.5rem;
  left: -36rem;
}

#img-box {
  position: absolute;
  left: -5.7rem;
  top: 13rem;
}

.faq {
  font-family: config.$font-family-kumbh-sans;
  display: flex;
  flex-direction: column;
  padding-top: 2.5rem;
  color: config.$dark-grayish-blue;

  & > h1 {
    font-size: 2rem;
    color: config.$very-dark-desaturated-blue;
    margin-block-end: 0.6rem;
  }

  & > ul {
    list-style-type: none;
    padding-inline-start: 0rem;
    max-width: 80%;
  }
}

.faq__item {
  
  position: relative;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-bottom: 1px solid config.$light-grayish-blue;

  label {
      display: grid;
      grid-template-columns: repeat(2, auto);
      cursor: pointer;
      
  }

  input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
  }

  h3 {
    margin-block-end: 0;
    margin-block-start: 0;
    display: inline-block;
    &:hover {
      color: config.$soft-red;
    }
    font-weight: 400;
    color: config.$very-dark-grayish-blue;
  }

  p {
    position: absolute;
    z-index: -1;
  }

  img {
    justify-self: right;
    align-self: center;
  }

  input[type="checkbox"]:checked ~ p {
    position: relative;
    z-index: 0;
    line-height: 1.7;
    margin-block-end: 0;
    margin-right: 1.625rem;
  }

  input[type="checkbox"]:checked ~ label img {
    transform: scaleY(-1);
  }

  input[type="checkbox"]:checked ~ label h3 {
    
    font-weight: 700;
  }
}

@include config.mobile {

    main {
      align-items: flex-start;
    }

    .card {
        min-width: 0;
        margin-top: 10rem;
        max-height: max-content;
        width: 80vw;
        flex-direction: column;
        border-radius: 2rem;

        article {
          padding: 2rem;
          display: block;
        }

        .faq__item img {
          margin-left: 1rem;
        }
    }

    .card > * {
      flex: auto;

      h1 {
          text-align: center;
          margin-block-end: 0;
      }

      ul {
          max-width: 100%;
      }
    }

    .image-container {
        height: 80px;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        &__online-desktop {
            display: none;
        }

        &__online-mobile {
          display: block;
          position: relative;
        }

        #img-box {
          display: none;
        }

        #img-woman-online-mobile {
          position: absolute;
          top: -6.6rem;
          left: -9.2rem;
        }

        #img-bg-pattern-mobile {
          position: absolute;
          top: 0;
          left: 1.8rem - 9.2rem;
        }

        
    }
}