/*primary text colors */
/* neutral text colors */
/* background gradient */
/* divider */
/* body copy */
/* font */
* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  background: linear-gradient(#af67e9, #6565e7);
  font-size: 12px;
}

main {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  min-width: 960px;
  min-height: 480px;
  background-color: white;
  display: flex;
  border-radius: 1rem;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2);
}
.card > * {
  flex: 0 0 50%;
}

.image-container {
  position: relative;
}
.image-container__online-desktop {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.image-container__online-mobile {
  display: none;
}

#img-woman-online-desktop {
  position: absolute;
  left: -5.2rem;
  top: 4.7rem;
}

#img-bg-pattern-desktop {
  position: absolute;
  top: -18.5rem;
  left: -36rem;
}

#img-box {
  position: absolute;
  left: -5.7rem;
  top: 13rem;
}

.faq {
  font-family: "Kumbh Sans", sans-serif;
  display: flex;
  flex-direction: column;
  padding-top: 2.5rem;
  color: #787887;
}
.faq > h1 {
  font-size: 2rem;
  color: #1d1e35;
  margin-block-end: 0.6rem;
}
.faq > ul {
  list-style-type: none;
  padding-inline-start: 0rem;
  max-width: 80%;
}

.faq__item {
  position: relative;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-bottom: 1px solid #e7e7e9;
}

details summary {
  list-style: none;
  color: #4a4b5e;
  font-size: 1.17em;
  margin-right: 1rem;
}
details summary::after {
  content: url(../images/icon-arrow-down.svg);
  position: absolute;
  right: 0;
  transition: 0.5s linear;
}
details p {
  margin-block-end: 0;
  line-height: 1.5;
  margin-right: 2rem;
}

details[open] summary {
  font-weight: 700;
}
details[open] summary::after {
  transform: scaleY(-1);
}
details[open] summary ~ * {
  animation: open 0.5s ease-in-out;
}

@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@media screen and (max-width: 1064px) {
  main {
    align-items: flex-start;
  }

  .card {
    min-width: 0;
    margin-top: 10rem;
    max-height: max-content;
    width: 80vw;
    max-width: 640px;
    flex-direction: column;
    border-radius: 2rem;
  }
  .card article {
    padding: 2rem;
    display: block;
  }
  .card .faq__item summary {
    font-size: 1em;
  }

  .card > * {
    flex: auto;
  }
  .card > * h1 {
    text-align: center;
    margin-block-end: 0;
  }
  .card > * ul {
    max-width: 100%;
  }

  .image-container {
    height: 80px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .image-container__online-desktop {
    display: none;
  }
  .image-container__online-mobile {
    display: block;
    position: relative;
  }
  .image-container #img-box {
    display: none;
  }
  .image-container #img-woman-online-mobile {
    position: absolute;
    top: -6.6rem;
    left: -9.2rem;
  }
  .image-container #img-bg-pattern-mobile {
    position: absolute;
    top: 0;
    left: -7.4rem;
  }
}

/*# sourceMappingURL=style.css.map */
